extends structure/_layout.pug

block header 

  div.center
    h1 About Us
    div Since 2008, we've been here browning owls.
    
    
block content 

  main.site-content.max
    
    .grid.grid-align-center
  
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum qui placeat tempora quidem reprehenderit ab odio nam voluptatibus, unde laudantium natus temporibus, dolore cumque, vitae porro! Fugiat earum quidem nam! 

      .grid-200

        img(src='https://images.unsplash.com/photo-1579109788443-68073c1fd623?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=700&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt='')

        img(src='https://images.unsplash.com/photo-1558383409-ab7ef8db3e01?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=700&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt='')

        img(src='https://images.unsplash.com/photo-1561336486-16dd1489c933?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&w=700' alt='')

        img(src='https://images.unsplash.com/photo-1557395703-b5202a63d0f3?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=700&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt='')