extends structure/_layout.pug

block header
  div.center
    h1 Cocktails for Breakfast
    div We do burgers for lunch, too.

block content

  main.site-content.max
  
    .grid
    
      div
  
        h2 Templating in Pug

        p Templating in Pug is pretty nice. Not only do you get the ability to do <code>include</code> but you also get <code>extend</code>, which means you can make sorta weave together blocks of content into templates.
        
      div
      
        h2 Images & Icons
        
        p This template makes use of images from Unsplash and the logo is an icon from FontAwesome, but used as SVG.
       
      